@import url('https://fonts.googleapis.com/css?family=Fugaz+One');
@import url(https://cdn.rawgit.com/theeluwin/NotoSansKR-Hestia/master/stylesheets/NotoSansKR-Hestia.css);

p, h1, body {
    margin: 0;
    padding: 0;
}

body {
  background-color: #FFF59D;
  padding: 50px 0 100px;
}

h1 {
    font-family: 'Fugaz One', cursive;
    text-align: center;
    margin-bottom: 50px;
    color: #03A9F4;
    font-size: 50px;
}

.home {
    font-family: serif;
    width: 750px;
    margin: 0 auto;
}

.article {
    padding: 30px;
    background-color: #fff;
    margin: 20px;
    border-radius: 3px;
}

.article a {
    font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
    color: #EC407A;
    font-weight: 700;
    letter-spacing: 0.5px;
    text-decoration: none;
    opacity: 0.5;
}

.article a:hover {
    opacity: 1;
}

.article img {
    border-radius: 2px;
}

.article .article-date {
    margin-bottom: 20px;
}

.article .article-date p {
    font-size: 20px;
}

.article .article-panel {
    display: inline-block;
    width: calc(100% - 170px);
    vertical-align: top;
    padding-left: 20px;
}

.article .image-panel {
    display: inline-block;
    width: 150px;
}

.article p {
    font: 25px "Lucida Grande", Helvetica, Arial, sans-serif;
    color: #424242;
    letter-spacing: -0.5px;
}

.greetings img {
    width:100px;
}

.greetings span {
    font-weight: bold;
}
.account_form {
    width:350px;
    padding:30px 20px;
    margin:0 auto;
    background:#fff;
    font-family: 'Noto Sans Korean', sans-serif;
}
fieldset {
    border: 0;
}
legend {
    width:100%;
    border-bottom: 1px solid #000;
}
.account_form  button,
.account_form  a {
    box-sizing: border-box;
    display: block;
    width:100%;
    height:50px;
    padding:0;
    margin:10px 0;
    border:1px solid grey;
    text-align: center;
    line-height: 50px;
    text-decoration: none;
    color:#000;
    background:#fff;
    font-size:15px;
    font-family: 'Noto Sans Korean', sans-serif;
}
.account_form dt {
    font-size: 12px;
}
.account_form dd {
    margin:10px 0;
}
.account_form input {
    box-sizing: border-box;
    width:100%;
    height:35px;
    padding:5px;
}
.account_form  button {
    background:#231f20;
    color:#fff;
}

.account_form  a {
    border:0;
}

.greetings {
    text-align: center;
}
