@import url('https://fonts.googleapis.com/css?family=Fugaz+One');

p, h1, body {
  margin: 0;
  padding: 0;
}

body {
  background-color: #FFF59D;
  padding: 50px 0 100px;
}

h1 {
  font-family: 'Fugaz One', cursive;
  text-align: center;
  margin-bottom: 50px;
  color: #03A9F4;
  font-size: 50px;
}

.home {
  font-family: serif;
  width: 750px;
  margin: 0 auto;
}

.article {
  padding: 30px;
  background-color: #fff;
  margin: 20px;
  border-radius: 3px;
}

.article a {
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: #EC407A;
  font-weight: 700;
  letter-spacing: 0.5px;
  text-decoration: none;
  opacity: 0.5;
}

.article a:hover {
  opacity: 1;
}

.article img {
  border-radius: 2px;
}

.article .article-date {
  margin-bottom: 20px;
}

.article .article-date p {
  font-size: 20px;
}

.article .article-panel {
  display: inline-block;
  width: calc(100% - 170px);
  vertical-align: top;
  padding-left: 20px;
}

.article .image-panel {
  display: inline-block;
  width: 150px;
}

.article p {
  font: 25px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: #424242;
  letter-spacing: -0.5px;
}

.dim {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.8);
  z-index: 100;
}

.modal-wrap {
  position: absolute;
  left: 5%;
  top: 2%;
  width: 90%;
  height: 90%;
  background-color: #fff;
  z-index: 200;
}

.modal-wrap .img {
  width: 100%;
  height: 100%;
  border: 1px solid black;
  overflow: hidden;
}

.modal-wrap .img > img {
  background-position: 50% 50%;
  display: block;
}

.modal-wrap button {
  width: 30px;
  height: 30px;
  background-color: #fff;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Fugaz One', cursive;
  border: 1px solid black;
}
