@import url('https://fonts.googleapis.com/css?family=Fugaz+One');

p, h1, body {
    margin: 0;
    padding: 0;
}

body {
  background-color: #FFF59D;
  padding: 50px 0 100px;
}

h1 {
    font-family: 'Fugaz One', cursive;
    text-align: center;
    margin-bottom: 50px;
    color: #03A9F4;
    font-size: 50px;
}

.home {
    font-family: serif;
    width: 750px;
    margin: 0 auto;
}

.article {
    padding: 30px;
    background-color: #fff;
    margin: 20px;
    border-radius: 3px;
}

.article a {
    font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
    color: #EC407A;
    font-weight: 700;
    letter-spacing: 0.5px;
    text-decoration: none;
    opacity: 0.5;
}

.article a:hover {
    opacity: 1;
}

.article img {
    border-radius: 2px;
}

.article .article-date {
    margin-bottom: 20px;
}

.article .article-date p {
    font-size: 20px;
}

.article .article-panel {
    display: inline-block;
    width: calc(100% - 170px);
    vertical-align: top;
    padding-left: 20px;
}

.article .image-panel {
    display: inline-block;
    width: 150px;
}

.article p {
    font: 25px "Lucida Grande", Helvetica, Arial, sans-serif;
    color: #424242;
    letter-spacing: -0.5px;
}

label {
  display: block;
}

.btn {
  display: block;
  padding: 5px 10px;
  background-color: #03a9f4;
  color:#fff;
}

.signup-btn {
  display: inline-block;
  margin-top: 10px;
  font-size: 14px;
  letter-spacing: -1px;
}