@import url('https://fonts.googleapis.com/css?family=Fugaz+One');

p, h1, body {
    margin: 0;
    padding: 0;
}

body {
  background-color: #FFF59D;
  padding: 50px 0 100px;
}

h1 {
    font-family: 'Fugaz One', cursive;
    text-align: center;
    margin-bottom: 50px;
    color: #03A9F4;
    font-size: 50px;
}

.home {
    font-family: serif;
    width: 750px;
    margin: 0 auto;
}

.article {
    padding: 30px;
    background-color: #fff;
    margin: 20px;
    border-radius: 3px;
}

.article a {
    font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
    color: #EC407A;
    font-weight: 700;
    letter-spacing: 0.5px;
    text-decoration: none;
    opacity: 0.5;
}

.article a:hover {
    opacity: 1;
}

.article img {
    border-radius: 2px;
}

.article .article-date {
    margin-bottom: 20px;
}

.article .article-date p {
    font-size: 20px;
}

.article .article-panel {
    display: inline-block;
    width: calc(100% - 170px);
    vertical-align: top;
    padding-left: 20px;
}

.article .image-panel {
    display: inline-block;
    width: 150px;
}

.article p {
    font: 25px "Lucida Grande", Helvetica, Arial, sans-serif;
    color: #424242;
    letter-spacing: -0.5px;
}

.login-wrap {
  text-align: center;
}

.login-wrap > div {
  margin: 10px 20px 0 20px;
  padding: 20px;
  background-color: #fff;
}

.login-wrap h3 {
  margin: 0;
  padding: 0;
  letter-spacing: -1px;
}

.input-area {
  margin: 10px 0;
  letter-spacing: -1px;
  font-size: 15px;
}

.input-area label {
  display: inline-block;
  min-width: 100px;
}

.btn {
  margin: 3px;
  padding: 10px 20px;
  border: 1px solid #999;
  background-color: #eee;
  border-radius: 3px;
  box-shadow: 2px 3px 1px rgba(0,0,0,0.2)
}

.btn:hover {
  border: 1px solid #787878;
}

.btn:active {
  background-color: #e0e0e0;
}

.uitype-btn {
  background-color: #464646;
  font-size: 15px;
  /*letter-spacing: -1px;*/
  font-weight: bold;
  color: #fff;
}
.action-btn {
  width:238px;
  height: 40px;
}

.message {
  display: block;
  margin-top: 5px;
  font-size: 13px;
  font-weight: bold;
  color: #f02;
}