@import url('https://fonts.googleapis.com/css?family=Fugaz+One');

p, h1, body {
  margin: 0;
  padding: 0;
}

body {
  background-color: #FFF59D;
  padding: 50px 0 100px;
}

h1 {
  font-family: 'Fugaz One', cursive;
  text-align: center;
  margin-bottom: 50px;
  color: #03A9F4;
  font-size: 50px;
}

.home {
  font-family: serif;
  width: 750px;
  margin: 0 auto;
}

.article {
  padding: 30px;
  background-color: #fff;
  margin: 20px;
  border-radius: 3px;
}

.article a {
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: #EC407A;
  font-weight: 700;
  letter-spacing: 0.5px;
  text-decoration: none;
  opacity: 0.5;
}

.article a:hover {
  opacity: 1;
}

.article img {
  border-radius: 2px;
}

.article .article-date {
  margin-bottom: 20px;
}

.article .article-date p {
  font-size: 20px;
}

.article .article-panel {
  display: inline-block;
  width: calc(100% - 170px);
  vertical-align: top;
  padding-left: 20px;
}

.article .image-panel {
  display: inline-block;
  width: 150px;
}

.article p {
  font: 25px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: #424242;
  letter-spacing: -0.5px;
}

.login-wrap {
  text-align: center;
}

.login-wrap > div {
  margin: 10px 20px 0 20px;
  padding: 20px;
  background-color: #fff;
}

.login-wrap h3 {
  margin: 0;
  padding: 0;
  letter-spacing: -1px;
}

.input-area {
  margin: 10px 0;
  letter-spacing: -1px;
  font-size: 15px;
}

.input-area label {
  display: inline-block;
  min-width: 100px;
}

.btn {
  margin: 3px;
  padding: 10px 20px;
  border: 1px solid #999;
  background-color: #eee;
  border-radius: 3px;
  box-shadow: 2px 3px 1px rgba(0,0,0,0.2)
}

.btn:hover {
  border: 1px solid #787878;
}

.btn:active {
  background-color: #e0e0e0;
}

.uitype-btn {
  background-color: #464646;
  font-size: 15px;
  font-weight: bold;
  color: #fff;
}
.action-btn {
  width:238px;
  height: 40px;
}

.message {
  display: block;
  margin-top: 5px;
  font-size: 13px;
  font-weight: bold;
  color: #f02;
}

.new-navigation ul {
  list-style: none;
}

.new-navigation li {
  display: inline-block;
  margin: 2px;
  background-color: #007fb8;
  border-radius: 6px;
}
.new-navigation a {
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 13px;
}

.ng-scope {
  position: fixed;
  top: 40%;
  left: 40%;
  text-align: center;
  z-index: 100;
}

.lds-spin {
  position: relative;
  display: inline-block;
}

.lds-spin div > div {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #51CACC;
  -webkit-animation: lds-spin 1s linear infinite;
  animation: lds-spin 1s linear infinite;
}

.lds-spin div:nth-child(1) > div {
  left: 140px;
  top: 80px;
  -webkit-animation-delay: -0.875s;
  animation-delay: -0.875s;
}

.lds-spin > div:nth-child(1) {
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transform-origin: 160px 100px;
  transform-origin: 160px 100px;
}

.lds-spin div:nth-child(2) > div {
  left: 122.42640685999999px;
  top: 122.42640685999999px;
  -webkit-animation-delay: -0.75s;
  animation-delay: -0.75s;
}

.lds-spin > div:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transform-origin: 142.42640686px 142.42640686px;
  transform-origin: 142.42640686px 142.42640686px;
}

.lds-spin div:nth-child(3) > div {
  left: 80px;
  top: 140px;
  -webkit-animation-delay: -0.625s;
  animation-delay: -0.625s;
}

.lds-spin > div:nth-child(3) {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-transform-origin: 100px 160px;
  transform-origin: 100px 160px;
}

.lds-spin div:nth-child(4) > div {
  left: 37.57359314px;
  top: 122.42640685999999px;
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}

.lds-spin > div:nth-child(4) {
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
  -webkit-transform-origin: 57.57359314px 142.42640686px;
  transform-origin: 57.57359314px 142.42640686px;
}

.lds-spin div:nth-child(5) > div {
  left: 20px;
  top: 80px;
  -webkit-animation-delay: -0.375s;
  animation-delay: -0.375s;
}

.lds-spin > div:nth-child(5) {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  -webkit-transform-origin: 40px 100px;
  transform-origin: 40px 100px;
}

.lds-spin div:nth-child(6) > div {
  left: 37.57359314px;
  top: 37.57359314px;
  -webkit-animation-delay: -0.25s;
  animation-delay: -0.25s;
}

.lds-spin > div:nth-child(6) {
  -webkit-transform: rotate(225deg);
  transform: rotate(225deg);
  -webkit-transform-origin: 57.57359314px 57.57359314px;
  transform-origin: 57.57359314px 57.57359314px;
}

.lds-spin div:nth-child(7) > div {
  left: 80px;
  top: 20px;
  -webkit-animation-delay: -0.125s;
  animation-delay: -0.125s;
}

.lds-spin > div:nth-child(7) {
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg);
  -webkit-transform-origin: 100px 40px;
  transform-origin: 100px 40px;
}

.lds-spin div:nth-child(8) > div {
  left: 122.42640685999999px;
  top: 37.57359314px;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}

.lds-spin > div:nth-child(8) {
  -webkit-transform: rotate(315deg);
  transform: rotate(315deg);
  -webkit-transform-origin: 142.42640686px 57.57359314px;
  transform-origin: 142.42640686px 57.57359314px;
}

.lds-spin div:nth-child(9) > div {
  left: 140px;
  top: 80px;
  -webkit-animation-delay: 0.125s;
  animation-delay: 0.125s;
}

.lds-spin > div:nth-child(9) {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transform-origin: 160px 100px;
  transform-origin: 160px 100px;
}

.lds-spin {
  width: 200px !important;
  height: 200px !important;
  -webkit-transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
  transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
}

@keyframes lds-spin {
  0% {
    opacity: 1;
    -webkit-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}
@-webkit-keyframes lds-spin {
  0% {
    opacity: 1;
    -webkit-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}
